

body {
    font-family: sans-serif;
    color: white;
}

.image-link {
    outline: 2.5px solid ;
    outline-color: black;
}

.image-link:hover {
   outline-color: yellow;
}

.image-lonk {
    outline: 3px solid;
    outline color: white;
}

.image-lonk:hover {
   outline-color: yellow;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    align-items: center;
}

.table1 {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
}

.table2 {
    flex: 1;
    padding: 20px;
}

.table3 {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
}

.table1 {
    background-color: orangered; 
}

.table2 {
    background-color: steelblue; 
}

.table3 {
    background-color: forestgreen; 
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: none; /* Elimina los bordes de las celdas y tablas */
}

th, td {
    padding: 10px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

p {
    text-align: center;
}
body {
  background-image: url('./548142.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
    text-align: center;
}

.image-link:hover {
    border-color: green;
}

header {
    text-anchor: 300;
}


#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #444;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

#score {
    font-weight: bold;
    margin-top: 20px;
}

button {
    display: block;
    margin-top: 20px;
}


@media only screen and (max-width: 6000px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (max-height: 20000px) {
}

@media only screen and (min-height: 2000px) {
}

.image-linka {
    width: 100%;
}

@keyframes intermitente {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intermitente-texto {
  animation: intermitente 0.5s infinite;
}

.texting:hover {
    color: yellow;
}

.texting {
    color: deeppink;
}

.imagin {
    max-width: 30px;
}

.table4 {
    padding: 20px;
    flex: 1;
    width: 20%;
  /*  border: 1px solid orangered; */
}

.table5 {
    padding: 20px;
    flex: 1;
    width: 20%;
   border: 1px solid steelblue;
}

.table6 {
    padding: 20px;
    flex: 1;
    width: 20%;
    border: 1px solid forestgreen;
}

nav {
      justify-content: center;
      background-color: #333;
      padding: 10px;
      width: 100%;
    }

    nav a {
      color: white;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    nav a:hover {
      background-color: #555;
    }

    footer {
      display: flex;
      justify-content: center;
      background-color: #333;
      padding: 10px;
      width: 100%;
    }

    footer a {
      color: white;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    footer a:hover {
      background-color: #555;
    }



ul {
      list-style-type: none;
    }

.countiner {
    width: 100%;
}

.tablasred {
    widt: 100%;
    justify-content: center;
    display: flex;
}

.letra1 {
color: darkred;
}

.letra2 {
color: violet;    
}

.letra3 {
 color: royalblue;   
}

.letra4 {
 color: yellow;   
}

.contenedor1 {
    background-color: lightyellow;
}

.imagen1 {
    display: flex;
    justify-content: left;
}

header {
            background-color: none; /* Cambia el color de fondo según tus preferencias */
            padding: 10px; /* Ajusta el espacio interno del header según tus preferencias */
            text-align: center; /* Centra el texto */
            color: white; /* Cambia el color del texto según tus preferencias */
        }

        /* Estilos para la imagen en el lado izquierdo */
header img {
            float: left; /* Hace que la imagen flote a la izquierda */
           margin-right: 50px;  /* Ajusta el margen derecho según tus preferencias */
            max-height: 50px; /* Ajusta la altura máxima de la imagen según tus preferencias */
        }